@font-face {
    font-family: "PlusJakartaSans-Regular";
    font-weight: normal;
    src: url("../public/fonts/PlusJakartaSans-Regular.ttf");
}

body {
    margin: 0;
    font-family: "PlusJakartaSans-Regular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
